.banner{
    /*
    width: calc(100% + 1.5rem);
    margin-left: -.75rem;
    */
    width: 100%;
    height: 30px;
    margin-top: -.75rem;
    /* margin-bottom : 50px; */
}
.bannerInter{
    /* position:absolute;
    left:0; */
    width: 100%;
    height:50px;
}
.bannerInter .bgBanner{
    position: absolute;
    background-size: unset;
    width: 100%;
    height: 50px;
    object-fit: cover; 
}
.bannerInter .contenu{
    /*max-width: 1920px;*/
    height: 100%;
    width: inherit;
    /* position: absolute; */
    /* left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; */
    padding-right: var(--lwc-spacingSmall,0.75rem);
    padding-left: var(--lwc-spacingSmall,0.75rem);
}
.bannerInter .contenu .title{
    
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    float: left; 
}
.bannerInter .contenu .title .txt1{
    background: -webkit-linear-gradient(45deg, #2e3093, #0083e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bannerInter .contenu .title .txt2{
    background: -webkit-linear-gradient(45deg, #dbdb4e, #3e813e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 767px) {
    .banner , .bannerInter{
        height: 50px;
    }
    .bannerInter .contenu .title{
        font-size: 25px;
        margin-top: 15px;
    }
}
@media only screen and (max-width: 415px) {
    .banner , .bannerInter{
        height: 50px;
    }
    .bannerInter .contenu .title{
        font-size: 14px;
        margin-top: 20px; 
    }
}